@import "font-awesome";

// Navbar
.navbar {
  background-color: #4b7ae4;
}


.navbar-brand {
  color: white !important;
}

.nav-link {
  color: white !important;
}
// Regular

h1 {
  text-align: center;
}

// Articles

.article-tile {
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  box-shadow: 3px 3px;
}

.article-tile a {
  margin-left: 10px;
}
.article-tile p {
  margin-left: 20px;
}

// Show

.container-show {
  border: solid 1px;
  margin: 10px;
}

.tile-top {
  width: 800px;
  text-align: center;
}

.title-show {
  display: flex;
  align-items: center;
  padding: 20px;
}

.fa {
  margin-left: 10px;
  font-size: 24px;
}

.article-content {
  font-size: 20px;
  margin-left: 20px;
}